.env

config.json

coinbase-orders/*_orders.json
/transactions/data.json

/coinbase-data
/analysis
/coingecko-global-volume

/screenshots

last_hourly_operation.json
last_screenshot_cleanup.json

.DS_Store
